page-pagos {

  .scroll-content{
    padding: 0px !important;
  }

  .paddingMov{
    padding:10px 0px;
  }

  .pagos2{
    font-size: 15px;
    text-align: center;
  }

  .pagoDet span{
    font-size: 15px;
    color: #444444;
  }
}
