page-cuentas {

  .scroll-content{
    padding: 0px !important;
  }

  .tipoCuenta{
    border-bottom: 1px solid #c1c1c1;
    margin-bottom: 10px;
    padding-bottom: 5px;
  }

  .contenedorCuentas{
    padding:10px;
    border-bottom:none;
  }

}
