page-transferencias {

  .scroll-content{
    padding: 0px !important;
  }

  .grid{
    padding: 0px !important;
  }

  .botonTransferencia{
    padding:7px 20px;
    font-size:18px;
    margin-right:0px;
  }

  .hide{
    display: none;
  }

  .trans66{
    display: none;
  }

  .trans77{
    display: none; 
  }
}
