page-sucursales {

  .scroll-content{
    padding: 0px !important;
  }

/////////

.item-wp.item-input.item-input-has-focus .text-input, item-wp.item-input.input-has-focus .text-input{
border-color: transparent !important;
}

.select-wp{
  border: none !important;
}

.text-input-wp{
    border: 2px solid transparent;
  }

.item-ios.item-block .item-inner {
    padding-right: 8px;
    padding-right: 8px;
    border-bottom: none;
  }

  .item-md.item-block .item-inner {
      padding-right: 8px;
      padding-right: 8px;
      border-bottom: none;
    }

    .cSucursales{
        width:90%;
        margin-left: 5%;
      /*  margin-top:10px;*/
        height:30px;
        font-size:1em;
        border: 2px solid #bfbfbf !important;
        border-radius: 10px !important;
        padding: 8px 0px 8px 10px !important;
        color: #333 !important;
        background-color: white !important;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .input-wrapper{
      margin-top: -20px;
    }

    .datosSucursal{
      margin-bottom:10px;
      border-top: 1px solid #cacaca;
      padding-top: 20px;
    }

    .datosSucursal span{
      font-size:17px;
      text-transform: uppercase;
      font-weight: bold;
      color: #006838;
      margin-left: 3px;
    }

    ion-select{
      max-width: none;
      width: 100%; 
    }

}
